<div class="list-group darling-list">
  <% @darlings.each do |darling| %>
    <%= link_to darling.post_date.to_s, darling, { class: 'list-group-item list-group-item-action' } %>
  <% end %>
  <%= paginate @darlings %>
</div>
